<div class="yotpo-readonly-start"></div>
<div style="text-align:center;font-family:Arial;">
  <div style="width:99%;max-width:600px;background:#fff;margin:20px auto">
    <div style="text-align:center;font-size:14px;padding-bottom:18px;margin-bottom:18px">
      <table>
        <tbody><tr>
          <td></td>
          <td width="100%">
            <div style="text-align:center;font-size:14px;">
              </br>
              <div class="yotpo-readonly-end"></div>
              <span style="font-size: 20px;color:#56575f">
                {{ formless_call_to_action }}
              </span>
              <div class="yotpo-readonly-start"></div>
            </div>
          </td>
          <td width="15%"></td>
        </tr>
        </tbody>
      </table>
      <table width="100%">
        <tr class="formless-stars">
          <td width="25%"></td>
          <td width="10%">
            <a href="{{ landing_page_link }}?review_score=1" target="_blank" style="text-decoration: none;">
              <div class="formless-star">
                ☆
              </div>
              <div style="color: black;font-size: 10px">1</div>
            </a>
          </td>
          <td width="10%">
            <a href="{{ landing_page_link }}?review_score=2" target="_blank" style="text-decoration: none;">
              <div class="formless-star">
                ☆
              </div>
              <div style="color: black;font-size: 10px">2</div>
            </a>
          </td>
          <td width="10%">
            <a href="{{ landing_page_link }}?review_score=3" target="_blank" style="text-decoration: none;">
              <div class="formless-star">
                ☆
              </div>
              <div style="color: black;font-size: 10px">3</div>
            </a>
          </td>
          <td width="10%">
            <a href="{{ landing_page_link }}?review_score=4" target="_blank" style="text-decoration: none;">
              <div class="formless-star">
                ☆
              </div>
              <div style="color: black;font-size: 10px">4</div>
            </a>
          </td>
          <td width="10%">
            <a href="{{ landing_page_link }}?review_score=5" target="_blank" style="text-decoration: none;">
              <div class="formless-star">
                ☆
              </div>
              <div style="color: black;font-size: 10px">5</div>
            </a>
          </td>
          <td width="25%"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="yotpo-readonly-end"></div>
